/*内容开始*/
.eui-input {
	width: 620px;
	height: 46px;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	margin-top: 1vh;
}

.eui-input input {
	width: 466px;
	height: 40px;
	border: solid 2px #0068b7;
	border-radius: 5px 0 0 5px;
	float: left;
	padding-left: 20px;
}

.eui-input .cx-btn{
	display: inline-block;
	width: 150px;
	height: 40px;
	line-height: 40px;
	background: #0068b7;
	text-align: center;
	font-size: 16px;
	color: #ffffff;
	float: left;
	border-radius: 0 5px 5px 0;
}

.eui-input p{line-height: 40px;font-size: 14px;color: #004eb7;text-shadow: 0px 0px 4px #FFFFFF,0px 0px 4px #FFFFFF,0px 0px 4px #FFFFFF,0px 0px 4px #FFFFFF,0px 0px 4px #FFFFFF,0px 0px 4px #FFFFFF;}

.eui-nav {
	width: 1100px;
	height: 420px;
	position: relative;
	margin: 100px auto;
	margin-bottom: 10px;
	/*position: absolute;
	top: 22vh;*/
}

.eui-nav ul {
	width: 80%;
	/* 	height: 396px; */
	/* 	position: absolute; */
	/* 	top: 50%; */
	/* 	left: 50%; */
	margin: 0 auto;
	/* 	transform: translate(-50%,-50%); */
}

.eui-nav ul li {
	width: 260px;
	height: 396px;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 20px 20px 20px 20px;
	position: relative;
	float: left;
	cursor: pointer;
}

.eui-nav ul li:hover {
	background: rgba(0, 110, 244, 0.9);
}

.eui-nav ul li:hover .eui-nav-p {
	color: #FFFFFF;
}

.eui-nav ul li:nth-child(2) {
	margin: 0 50px;
}

.eui-nav-main {
	width: 170px;
	height: 200px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.eui-nav-img {
	margin-bottom: 76px;
	width: 170px;
	height: 100px;
	text-align: center;
}

.eui-nav-img i {
	display: inline-block;
	width: 98px;
	height: 100px;
}

.eui-nav-p {
	font-size: 20px;
	color: #4c4c4c;
}
/*内容结束*/
.eui-i1 {
	background: url(../images/nav1.png) no-repeat;
}

.eui-i2 {
	background: url(../images/nav2.png) no-repeat;
}

.eui-i3 {
	background: url(../images/nav3.png) no-repeat;
}

.eui-nav ul li:hover .eui-i1 {
	background: url(../images/nav1-1.png) no-repeat;
}

.eui-nav ul li:hover .eui-i2 {
	background: url(../images/nav2-1.png) no-repeat;
}

.eui-nav ul li:hover .eui-i3 {
	background: url(../images/nav3-1.png) no-repeat;
}

@media screen and (max-width: 1366px) {
	.eui-nav {
		width: 1200px;
		height: 456px;
		position: relative;
	}
	.eui-nav ul {
		height: 231px;
	}
}