@charset "utf-8";
html,body,div,form,img,ul,ol,li,dl,dt,dd{margin:0px; padding:0px;}
body{margin:0 auto;padding:0;border:0; font-family:simsun;}
select,input,textarea{vertical-align:middle; padding:0; margin:0;}
textarea{resize:none;}
img{border:0;}
ol,ul,li{list-style:none; margin:0px; padding:0px;}
a{text-decoration:none; transition: ease-in-out .3s;}
a,img,input,textarea,select,button,area{outline:none;}
*{-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;}
/*清除浮动*/
.clearfix:after{content:'';display:block;height:0;clear:both;visibility:hidden;}
.clearfix{*zoom:1; _zoom:1;}
/*IE下a:hover 背景闪烁*/
*html{overflow:-moz-scrollbars-vertical; _zoom:expression(function(ele){ele.style.zoom = "1"; document.execCommand("BackgroundImageCache",false,true)}(this))}
.lfloat{float:left;}
.rfloat{float:right;}
body{font-family: "微软雅黑";width: 100%;height: 100%;min-height: 1080px;}
.eui-smallscreenBox{width:720px;height: 100%;margin:0 auto;padding-top:50px;background:#001024 url(../images/bg2.jpg) top no-repeat;background-size: 100%;}
.eui-smallscreenBox .eui-logo{width: 506px;height: 79px;margin: 0 auto;}
.eui-smallscreenBox .eui-logo img{width: 100%;}
.eui-smallscreenBox .eui-table{width:640px;height:1555px;overflow:hidden;margin: 0 auto;text-align: center;padding:20px 0;}
.eui-smallscreenBox table{border: none;width: 100%;}
.eui-smallscreenBox table th{background: #1024c8;height: 70px;line-height: 70px;font-size: 40px;color: #fff;border: none;}
.eui-smallscreenBox table td{height: 46px;border: none;font-size: 40px;color: #FFFFFF;}
.eui-smallscreenBox table tr:nth-child(2n){background: rgba(29,164,231,0.3)}
.eui-smallscreenBox table .eui-yellow{color: #ffb72b!important;}



