@charset "utf-8";
/* CSS Document */
html,body,div,form,img,ul,ol,li,dl,dt,dd{margin:0px; padding:0px;}
select,input,textarea{vertical-align:middle; padding:0; margin:0;}
textarea{resize:none;}
img{border:0; vertical-align:middle;}
ol,ul,li{list-style:none; }
a{color:#000; text-decoration:none;}
a:hover{color:#00479d; text-decoration:none;}
body{font-family:"宋体",sans-serif; font-size:14px; height:100%; width:100%; min-width:1000px; margin:0 auto; word-break:break-all; background:#eee;}
table{border-collapse:collapse;border-spacing:0;}
td,th{padding:0;}
/*IE下a:hover 背景闪烁*/
*html{overflow:-moz-scrollbars-vertical;zoom:expression(function(ele){ele.style.zoom = "1";
document.execCommand("BackgroundImageCache",false,true)}(this))}
.lfloat{float:left;}
.rfloat{float:right;}
/*清除浮动*/
.clearfix:after{content:'\0020';display:block;height:0;clear:both;visibility:hidden;}
.clearfix{*zoom:1; _zoom:1;}

/*首页样式*/
.container{width:1000px; margin:0 auto;}
/*图片轮播*/
.syj-fullslide{width:100%; height:503px; position:absolute; overflow:hidden; background:#e1f4fb;}
.syj-fullslide .bd{ margin:0 auto; position:relative; z-index:0; overflow:hidden;}
.syj-fullslide .bd li{width:100%; height:503px; overflow:hidden; text-align:center; background-size:100%;}
.syj-fullslide .bd li img{width:100%; height:503px; overflow:hidden; margin:0 auto;}
/*头部*/
.syj-headerbg{width:100%; height:313px; background:url(../images/Banner1.jpg) no-repeat center -143px  #e1f4fb; position:relative;}
.syj-header{width:100%; height:143px; z-index:1; position:relative; background:url(../images/head-bg.png) repeat-x;}
.syj-hd1{height:93px; position: relative;}
.syj-logo{float:left; width:430px; height:93px;}
.syj-location{float:left; width:90px; height:30px; margin:34px 0 0 10px; padding-left:15px; background:url(../images/head-location.png) no-repeat left; color:#eb6100; font-family:"宋体"; font-size:12px; line-height:14px; position:relative; z-index: 2;}
.syj-location-city{margin-left:7px;}
.syj-location-link{color:#eb6100;}
.syj-city{position:absolute; width:741px; margin-left:-346px; padding:50px 20px 20px 20px; background:url(../images/website_bg.png) no-repeat top; border-bottom:1px solid #659cf1; z-index:4;}
.syj-city ul li{line-height:24px;}
.syj-city ul li a{display:inline-block; padding:0 4px; margin:0 2px; font-size:14px;}
.syj-city ul li a:hover{background:#00479d; color:#fff; transition:all 0.2s; border-radius:2px;}
.syj-hdnavsch{float:right; position: absolute; right: 24px;}
.syj-hdnav{height:40px; overflow:hidden;}
.syj-hdnav ul li{float:left; line-height:40px; font-size:12px; padding:0 8px; background:url(../images/head-line.png) no-repeat right;}
.syj-sch{float:right; }
.syj-sch input{width:238px; height:33px; line-height:33px; padding:0 8px; border:1px solid #ddd; }
.syj-sch a{float:right; width:80px; height:35px; line-height:35px; margin-left:-1px; background:#eb6100; border-radius:0; color:#fff; text-align:center; font-family:"宋体"; font-size:14px; font-weight:bold; -webkit-transition:0.2s ease-out; transition:0.2s ease-out}
.syj-sch a:hover{background:#00479d;}
.syj-nav ul li{float:left; font-size:16px; width:98px; margin:8px 1px; height:34px; line-height:34px; font-family:"微软雅黑"; }
.syj-nav ul li a{display:block; text-align:center; color:#fff; -webkit-transition:0.2s ease-out; transition:0.2s ease-out}
.syj-nav ul li a:hover, .syj-nav .ui-navOn {background:#fff; background:url(../images/nav-btn.png) no-repeat center\9; border-radius:17px; color:#00479d;}
/*内容*/
.syj-main{width:100%; height:324px; padding:18px 0; position:relative;}
.syj-gsgg{float:left; width:444px; height:294px; padding:15px 20px; background:url(../images/gsgg-bg.png);}
.syj-gstitle h3{margin:0 8px 0 0; display:inline; font-size:18px; font-weight:500;}
.syj-gstitle span{font-size:12px;}
.syj-gstitle a{display:block; height:30px; line-height:30px; font-family:"微软雅黑"; color:#fff; background:url(../images/btn-add.png) no-repeat right;}
.syj-gstitle a:hover{background:url(../images/btn-add-hover.png) no-repeat right; -webkit-transition:0.2s ease-out; transition:0.2s ease-out;}
.syj-gslist li{height:50px; line-height:50px; font-size:14px;}
.syj-gslist li a{float:left; display:block; margin-left:14px; width:369px; color:#fff; border-bottom:1px solid #5785bd}
.syj-gslist li a:hover{color:#7ed321;}
.syj-gslist li span{float:left; width:52px; height:30px; line-height:30px; margin-top:10px; padding-left:9px; font-size:16px; font-family:arial; color:#fff; -webkit-transition:0.2s ease-out; transition:0.2s ease-out; background:url(../images/date-bg.png) no-repeat;}
.syj-gslist li:hover span{background:url(../images/date-bg-hover.png) no-repeat; color:#1154a3;}
.nav-scenes {float:right; margin:130px 80px 0 0; }
.nav-scenes:hover{animation-name:bounce; -webkit-animation-name:bounce}
.tmargin20{margin-top:20px;}
.tmargin14{margin-top:14px;}
.syj-main1{width:100%; height:285px; overflow:hidden;}
.syj-m1l{float:left; width:645px; margin-right:25px;}
.syj-title{height:30px; line-height:30px;}
.syj-title h3{float:left; margin:0 10px 0 0; width:129px; height:30px; line-height:30px; background:url(../images/title-bg.png) no-repeat; color:#00479d; text-align:center; font-size:18px; font-weight:400;}
.syj-title span{font-size:12px;}
.syj-title a{display:block; height:30px; line-height:30px; color:#707070; font-family:"微软雅黑"; background:url(../images/btn-more.png) no-repeat right;}
.syj-title a:hover{color:#707070; background:url(../images/btn-more-hover.png) no-repeat right; -webkit-transition:0.2s ease-out; transition:0.2s ease-out;}
.syj-table{width:100%;}
.syj-table tr th{border-bottom:1px solid #b5b5b5; color:#779ac5; line-height:29px;}
.syj-table tr td{border-bottom:1px dotted #b5b5b5; line-height:19px; padding:5px 0; text-align:center;}
.syj-color{color:#00479d !important;}
.syj-color1{color:#81ad1d;}
/* 办件搜索 */
.syj-work-search { float:right; width:330px; height:285px; background:url(../images/inquire-bg.png) no-repeat 145px 95px #80b2d8\9; background:url(../images/inquire-bg.png) no-repeat 140px 92px rgba( 18,119,194,0.5 ); -webkit-transition:0.7s ease-out; transition:0.7s ease-out; }
.syj-work-search:hover{background-position:120px 92px; background-position:140px 92px\9; }
.syj-work-search-title{border-bottom:1px solid #99c1e0; color:#fff; background:url(../images/title-inquire.png) no-repeat left center; margin:0 12px; padding:0 0 0 40px; font:20px/48px "微软雅黑"}
.syj-work-search ul{padding:0 25px}
.syj-work-search li{padding:6px 0}
.syj-work-search li span{display:inline-block; width:100%; line-height:30px; color:#fff;}
.syj-work-search li input{padding:0 3%; border:0 none; width:94%; height:40px; line-height:40px; font-size:14px; background:#e6f0f7; color:#666}
.syj-work-search li input:hover,.syj-work-search li input:focus{background:#fffdde}
.syj-work-search li a{display:block; background:#156bc1; font:20px/50px "微软雅黑"; color:#fff; text-align:center; border-radius:5px; -webkit-transition:0.3s ease-out; transition:0.3s ease-out}
.syj-work-search li a:hover{background:#ff791f}
/* 办事指南 */
.syj-main2{width:100%; height:404px; overflow:hidden;}
.syj-guide-box{float:left; width:670px;}
.syj-guide{background:url(../images/syj-guide-bg.jpg) no-repeat #fff; padding:0 15px; height:360px}
.syj-guide li{float:left; width:213px; height:180px;}
.syj-guide li a{display:block; color:#555; height:180px}
.syj-guide li a:hover{color:#4388c9\9}
.syj-guide li a div{width:213px; text-align:center; font-family:"微软雅黑"; line-height:24px}
.syj-guide li a .syj-guide-li img{margin:32px auto 15px; -webkit-transition:0.6s ease-out; transition:0.6s ease-out}
.syj-guide li a:hover .syj-guide-li img{-ms-transform:rotateY(360deg); -moz-transform:rotateY(360deg); -webkit-transform:rotateY(360deg); -o-transform:rotateY(360deg); transform:rotateY(360deg);}
.syj-guide li a .syj-guide-img img{-webkit-transition:0.7s, -webkit-transform 0.7s; transition:0.7s, transform 0.7s; -webkit-transform: translate3d(0,0, 0); transform: translate3d(0,0,0);}
.syj-guide li a:hover .syj-guide-img img{-webkit-transform: translate3d(-20px,0,0); transform: translate3d(-20px,0,0);}	
.syj-guide li a div p{font-size:18px; margin:0}
.syj-guide-img{overflow:hidden; float:right}

/* 办件统计 */
.syj-count{float:right; width:330px; height:360px; padding:45px 0 0 0; background:url(../images/statistical-bg.jpg) no-repeat bottom; position:relative}
.syj-count h2{position:absolute; margin:0; width:330px; height:360px; overflow:hidden; z-index:0}
.syj-count h2 img{-webkit-transition:0.7s, -webkit-transform 0.7s; transition:0.7s, transform 0.7s;}
.syj-count:hover h2 img{-webkit-transform: scale3d(1.1,1.1,1); transform: scale3d(1.1,1.1,1);}
.syj-count-title{position:absolute; width:258px; color:#fff; background:url(../images/title-statistical.png) no-repeat left center; margin:0 16px; padding:4px 0 0 40px; font:20px/50px "微软雅黑"; border-bottom:1px solid #429fdb}
.circliful {position: relative; margin:64px auto 0; text-align:center; height:240px; overflow:hidden;} 
.circle-text, .circle-info, .circle-text-half, .circle-info-half { width: 100%; position: absolute; text-align: center; display: inline-block;}
.circle-text{color:#fff;}
.circle-info, .circle-info-half {color: #999; } 
.syj-count-num{position:absolute; bottom:20px; left:20px}
.syj-count-num p{float:left; margin:0; font:13px/33px "微软雅黑"; color:#fff; width:117px; margin:0 20px 0 0; padding:0 0 0 17px}
.syj-count-num span{margin:0 0 0 13px; width:62px; text-align:center; display:inline-block}
.syj-count-num1{background:url(../images/statistical-a.png) no-repeat}
.syj-count-num2{background:url(../images/statistical-b.png) no-repeat}
.syj-count-num1 span{color:#7ed321}
.syj-count-num2 span{color:#ff9846}

/* 友情链接 */
.link{background:url(../images/link-bg.png) no-repeat; height:54px; padding:0 0 20px}
.link ul{padding:0 0 0 145px}
.link li{float:left; width:210px; padding:10px 0}
.input-dropdown {-webkit-appearance:none; -moz-appearance:none; appearance:none; border:1px solid #c0c8c9; background-image:url(../images/ddown.svg?3), none;background-repeat:no-repeat;background-size:2.2rem; background-position:right center; padding:6px; width:195px; /* color:#999;  */-webkit-transition:0.2s, -webkit-transform 0.2s; transition:0.2s, transform 0.2s;}
.input-dropdown:hover{border:1px solid #888; color:#666}
.input-dropdown:focus{border:1px solid #00479d; color:#00479d; outline:none; background-image: url(../images/ddown-on.svg?3), none;}

/*底部*/
.syj-footer{height:206px; width:100%; background:#00479d;}
.syj-ftwrap{width:830px; margin:0 auto; padding-top:20px;}
.syj-footer a,.syj-footer p{float:left; margin:0; padding:0 20px; line-height:24px; vertical-align:middle; text-align:center; color:#eee}

/* 首页样式结束 */

/* 在线申报 */
.syj-crumb{width:960px; height:40px; line-height:40px; padding:0 20px; color:#565656; position:absolute; bottom:0px; background:url(../images/crumb-bg.png);}
.syj-crumb span{display:inline-block; padding-left:20px; background:url(../images/crumb-icon.png) no-repeat left center;}
.syj-crumb a{color:#565656;}
.syj-crumb a:hover,.syj-crumb i{color:#00479d; font-style:normal;}
.syj-select{padding:20px 20px 10px 20px; margin:0 auto;}
.syj-select li{padding:10px 0 0 120px;}
.syj-select dl{zoom:1; position:relative; line-height:35px;}
.syj-select dl:after{content:" "; display:block; clear:both; height:0; overflow:hidden}
.syj-select dt{width:120px; margin-bottom:5px; position:absolute; top:0; left:-120px; text-align:right; height:35px; line-height:35px; font-size:16px; font-weight:bold; color:#00479d;}
.syj-select dd{float:left; display:inline; margin:0 0 10px 10px; height:35px;}
.syj-select a{display:inline-block; white-space:nowrap; height:33px; border:1px solid #ccc; min-width:68px; padding:0 20px; text-align:center; text-decoration:none;}
.syj-select a:hover{color:#eb6100; border:1px solid #eb6100; transition:all 0.2s;}
.syj-select .syj-selectOn a{color:#eb6100; border:2px solid #eb6100; height:31px; background:url(../images/icon.png) no-repeat right bottom #fff;}
.syj-zxsbm{border-top:2px solid #49c0eb; padding:20px; background:#fff; margin-bottom:20px;}
.syj-zxsbclick{display:block; line-height:27px; background:url(../images/icon_folder_2.png) no-repeat left center; padding-left:30px; font-weight:bold;}
.syj-zxsbclickUp{background:url(../images/icon_folder_1.png) no-repeat left center !important;}
.syj-zxsblist1 ul li{line-height:40px; border-bottom:1px dotted #c7c7c7; padding-left:30px;}
.syj-zxsblist1 ul li a{display:block; padding-left:20px; background:url(../images/icon_sx.png) no-repeat left center;}
.syj-zxsblist1 ul li p{font-size:12px; margin:0px; line-height:22px !important;}
.syj-zxsblist1 ul li p span{margin-right:20px;}
.syj-zxsbcon{display:none;}
.syj-zxsblist1 ul li .syj-zxsbcon a{display:inline-block; padding:0px; width:95px; height:30px; line-height:30px; margin-right:10px; text-align:center; color:#fff; background:url(../images/zxsb-btn.png) no-repeat left;}
.syj-zxsblist1 ul li .syj-zxsbcon a:hover{ background:url(../images/zxsb-btn.png) no-repeat right;}
.syj-zxsbon{background:#f2fafe;}

/* 分页样式 */
.syj-page{margin:10px 0 0 0; height:24px; line-height:24px; text-align:center;}
.syj-page a{display:inline-block; padding:0 10px; height:24px; line-height:24px; border:1px solid #aaaaee; color:#00479d; background:#fff;}
.syj-page a:hover,.syj-page .syj-pageon{color:#fff; background:#2266bb;}
.syj-pageno,.syj-pageno:hover{color:#999 !important; border:1px solid #999 !important; cursor:no-drop;  background:#fff !important;}

/* 在线申报-信息 */
.tmargin20{margin-top:20px;}
.tbmargin20{margin:20px 0;}
.syj-sbmain1{padding:0 20px; height:89px; background:#fff;}
.syj-sbm1l{float:left; width:422px; margin:26px 0 0 0;}
.syj-sbm1l h3{font-size:16px; margin:0px; color:#00479d;}
.syj-sbm1l p{font-size:14px; margin:0px; line-height:30px;}
.syj-sbm1r{float:left; width:538px; overflow:hidden; margin-top:16px;}
/*流程样式*/
.eui-steps-round{font-size:0px; line-height:0px; padding-left:20px;}
.eui-steps-round > div{display:inline-block; vertical-align:top; position:relative;}
.eui-steps-round > div .eui-wrap:before,.eui-steps-round > div .eui-wrap:after{display:table; clear:both; content:""; line-height:0;}
.eui-steps-round > div .eui-round{width:30px; height:30px; display:inline-block; vertical-align:middle; font-size:16px; color:#FFF; line-height:30px; text-align:center; float:left; font-weight:bold;}
.eui-steps-round > div .eui-bar{margin:14px 0px 0px 30px; width:90px; height:2px; vertical-align:middle;}
.eui-steps-round > div:last-child, .eui-steps-round > div.eui-last{width:34px !important;}
.eui-steps-round > div > label{display:inline-block; white-space:nowrap; font-size:14px; line-height:30px; height:30px; margin-top:6px; color:#00479d; font-weight:bold; cursor:default; text-align:center; width:50%; margin-left:-25%; position:relative; left:15px;}
.eui-steps-round > div:last-child > label, .eui-steps-round > div.eui-last > label{position:absolute; width:auto; margin-left:0; left:auto; right:0;}
.eui-steps-round > .current .eui-round{background:url(../images/lc-icon.png) no-repeat right; color:#fff;}
.eui-steps-round > .current .eui-bar{background-color:#c9deeb;}
.eui-steps-round > .todo .eui-round{background:url(../images/lc-icon.png) no-repeat left; color:#00479d;}
.eui-steps-round > .todo .eui-bar{background-color:#c9deeb;}
.eui-steps-round > .todo > label{color:#000; font-weight:400;}
/*流程样式end*/
.syj-sbmain2{padding:20px; background:#fff;}
.syj-tabtitle{height:43px; padding-left:20px; border-bottom:1px solid #e9e9ee;}
.syj-tabtitle ul li{float:left; height:44px; line-height:43px; text-align:center; margin-right:10px;}
.syj-tabtitle ul li a{display:block; height:42px; line-height:42px; padding:0 15px; border:1px solid #e9e9ee;}
.syj-tabtitle ul .on a{border-top:3px solid #00479d; height:40px; border-bottom:1px solid #fff; font-weight:bold;} 
.syj-tabtitle ul .eui-no a{background:#ffd7cc; height:42px; border:1px solid #ff3600; border-bottom:none;}
.syj-tabtitle ul li span{display:block; height:42px; line-height:42px; padding:0 15px; border:1px solid #e9e9ee;}
.syj-tabtitle ul .on span{border-top:3px solid #00479d; height:40px; border-bottom:1px solid #fff; font-weight:bold;}
.syj-table1{width:100%; table-layout:fixed; color:#666;}
.syj-table1 tr th{width:120px; text-align:right; padding:8px 0;}
.syj-table1 tr td{padding:8px 5px;}
.syj-input{width:70%; height:32px; line-height:32px; border:1px solid #ccc; font-size:14px; padding:0 5px; margin-right:10px; color:#666;}
.syj-table1 tr td span{color:#cbcbcb;}
.syj-color2{color:#eb6100;}
.borderb{border-bottom:1px dashed #cbcbcb;}
.margin20{margin:20px;}
.syj-table2{width:100%; table-layout:fixed;}
.syj-table2 tr th{width:139px; text-align:center; padding:8px 0; font-weight:400; border:1px solid #c9deef; background:#f9faff;}
.syj-table2 tr td{border:1px solid #c9deef; padding:4px;}
.syj-input1{width:96%; padding:0 5px; height:30px; line-height:30px; border: 1px solid #ccc;font-size: 14px;}
.syj-width{display:inline-block;width:140px;}
.syj-title1{width:100%; height:30px; line-height:30px;}
.syj-title1 span{display:inline-block; border-left:2px solid #00479d; height:20px; line-height:20px; color:#666; font-weight:bold; padding-left:10px; font-size:14px;}
.syj-addbtn{float:right; display:block; width:77px; height:30px; line-height:30px; font-family:"微软雅黑"; padding-left:18px; text-align:center; color:#fff; background:url(../images/addbtn.png) no-repeat top;}
.syj-addbtn:hover{background-position:0 -30px; color:#fff;}
.syj-addbtn:active{background-position:0 bottom; color:#fff;}
.syj-closebtn{display:inline-block; position:absolute; right:-40px; top:0px; width:41px; height:30px; background:url(../images/closebtn.png) no-repeat top;}
.syj-closebtn:hover{background-position:0 -30px; color:#fff;}
.syj-closebtn:active{background-position:0 bottom; color:#fff;}
.syj-btn{width:100%; height:40px; line-height:40px; text-align:center;}
.syj-btn a{display:inline-block; width:100px; height:40px; margin:0 5px; color:#fff; font-family:"微软雅黑"; font-size:18px;}
.syj-btnsbt{background:url(../images/btnsbt.png) no-repeat top;}
.syj-btnsbt:hover{background-position:0 -40px; color:#fff;}
.syj-btnsbt:active{background-position:0 bottom; color:#fff;}
.syj-btnsave{background:url(../images/btnsave.png) no-repeat top;}
.syj-btnsave:hover{background-position:0 -40px; color:#fff;}
.syj-btnsave:active{background-position:0 bottom; color:#fff;}
.syj-tabtdcenter tr td{text-align:center; line-height:20px;}
.syj-btnfile{display:inline-block; width:95px; height:29px; line-height:29px; text-align:center; color:#00479d; background:url(../images/btnfile.png) no-repeat top;}
.syj-btnfile:hover{background-position:0 -29px; color:#00479d;}
.syj-btnfile:active{background-position:0 bottom; color:#fff;}

/*办理机构确认*/
.tbmargin40{margin:40px 0;}
.syj-height{height:148px;}
.syj-jgl{float:left; width:445px; height:108px; padding-top:40px; text-align:center; line-height:34px; color:#666; border-right:1px dashed #cbcbcb;}
.syj-jgl p,.syj-jgl h3,.syj-jgr p{margin:0px;}
.syj-jgl h3{color:#eb6100;}
.syj-jgr{float:left; width:374px; line-height:25px; color:#666; margin:40px 0 0 80px;}
.syj-ohjg ul li{float:left; width:214px; margin:30px 15px 30px 0;}
.syj-ohjg p{line-height:20px; margin:0px; color:#a0a0a0; font-size:12px;}
.syj-font{text-align:center; line-height:89px; color:#666;}
.syj-font b{font-size:16px; color:#eb6100; margin-left:20px;}

/*二级列表页面*/
.syj-list li{line-height:36px; padding-left:20px; background:url(../images/list-icon.png) no-repeat left center;}
.syj-list li span{float:right; color:#666;}
.syj-list li a{color:#666;}
.syj-list li a:hover{color:#00479d;}

/*文章页面*/
.syj-detailm{padding:18px 28px; border:1px solid #e6e6e6;}
.syj-dtltitle{text-align:center;}
.syj-dtltitle h1{font-size:18px; font-weight:400; margin:0px; font-family:'微软雅黑'; color:#00479d;}
.syj-dtlsmall{padding:16px 0; font-size:14px; color:#999; border-bottom:1px dotted #d7d7d7;}
.f14px{font-size:14px;}
.f16px{font-size:16px;}
.syj-sel{color:#00479d !important;}
.syj-dtlcon{padding:20px 0;}
.syj-dtlbtn{float:right; height:36px; line-height:36px;}

/*办事指南与表格、办件公示下载,其它页面*/
.bmargin20{margin-bottom:20px;}
.syj-table3{width:100%;}
.syj-table3 tr th{text-align:center; padding:8px 4px; font-weight:400; border:1px solid #c9deef; background:#f9faff;}
.syj-table3 tr td{padding:6px 4px; text-align:center;}
.syj-table3 tr td a{color:#00479d; text-decoration:underline}
.syj-table3 tr td a:hover{font-weight:bold; text-decoration:underline}
.syj-tabgd tr:hover td{font-weight:bold; cursor:pointer;}
.syj-btnbjcx{margin:20px 0 0 0;}
.syj-btnbjcx:hover{animation-name:bounce; -webkit-animation-name:bounce}
.syj-bjsx{width:430px; margin:34px auto 0;}
.syj-bjsxl{float:left; width:330px;}
.syj-bjsxl span{float:left; display:inline-block; width:66px; line-height:33px; text-align:right; padding:0 4px 0 0; }
.syj-bjsxl p{margin:0 0 10px 0; height:35px;}
.syj-bjsxl p input{width:238px; height:33px; line-height:33px; padding:0 5px; border:1px solid #ccc;}
.syj-bjsx a{float:left; width:80px; height:80px; line-height:114px; font-weight:bold; color:#fff; overflow:hidden; text-align:center; margin-left:10px; background:url(../images/icon3.png) no-repeat center 15px #eb6100;}
.syj-bjsx a:hover{background:url(../images/icon3.png) no-repeat center 15px #00479d; -webkit-transition:0.2s ease-out; transition:0.2s ease-out}
.syj-bjsxlc{margin:50px 0 50px 122px; height:66px;}
.syj-bjsxlc b{float:left; display:inline-block; width:120px; text-align:center; margin-top:16px; line-height:35px; color:#00479d;}
.syj-tjwin{height:376px; padding:0 20px; background:url(../images/win-bg.png) no-repeat left bottom #fff;}
.syj-bgwintop{height:138px; padding:67px 0 0 0;}
.syj-bgwinl{width:300px; margin:0 0 0 212px; text-align:center; font-size:16px;}
.syj-bgwinl h3{color:#eb6100; line-height:25px; margin:10px 0 30px 0;}
.syj-bgwinl p{line-height:26px; margin:0 0 0 50px; font-weight:bold; color:#666; text-align:left;}
.syj-bgwinr{width:320px; font-size:12px; color:#a0a0a0; margin-top:60px;}
.syj-bgwinr ul li{line-height:20px;}
.syj-lookbj{color:#666;}
.syj-lookbj a{color:#00479d; font-size:14px; width:80px; text-decoration:underline;}
.syj-lookbj a:hover{color:#eb6100;}
.syj-sqtjsm{line-height:30px; color:#666; padding:0 20px;}
.syj-zxbl{float:right;}
.syj-zxbl:hover{animation-name:bounce; -webkit-animation-name:bounce}

/*****************   用户中心  *********************/
/*登录*/
.syj-dlmain{background:#fff;}
.syj-dlleft{float:left; width:330px; overflow:hidden;}
.syj-dlright{float:left; width:370px; margin:65px 0 0 150px;}
.syj-dlinput p{height:48px; width:280px; margin:0 0 20px 0; padding-left:40px;}
.syj-dlinput p input{float:left; height:46px; line-height:46px; border:none; margin-top:1px;}
.syj-dlname{background:url(../images/input-name.jpg) no-repeat;}
.syj-dlpsd{background:url(../images/input-psd.jpg) no-repeat;}
.syj-dlyzm{background:url(../images/input-yzm.jpg) no-repeat;}
.syj-dlyzm img{float:left; width:116px; height:48px; margin-left:10px; overflow:hidden;}
.syj-btndl{display:block; height:50px; line-height:50px; text-align:center; color:#fff; font-family:"微软雅黑"; font-size:20px; background:url(../images/btn-dl.png) no-repeat; margin-bottom:20px;}
.syj-btndl:hover{background-position:0 bottom; color:#fff;}
.syj-dlpszc{height:50px; line-height:50px; padding:0 20px; border-top:1px solid #eee; font-family:"微软雅黑"; color:#333;}
.syj-dlpszc span a,.syj-dlpszc label a:hover{color:#3a81d0;}
.syj-dlpszc label a,.syj-dlpszc span a:hover{color:#f26522;}
.syj-dlbtm{width:100%; height:47px; text-align:center; margin-bottom:20px; background:url(../images/dl-yy.jpg) no-repeat;}

/*注册*/
.syj-zcmain{height:246px; padding:126px 20px; background:#fff; margin:20px 0;}
.syj-zcleft{float:left; width:479px; height:246px; text-align:center; border-right:1px solid #dadada;}
.syj-zc{margin:76px 0 0 0; display:inline-block; width:230px; height:55px;}
.syj-zc:hover{animation-name:bounce; -webkit-animation-name:bounce}
.syj-zctitle{height:40px; line-height:40px; padding:0 55px; color:#fff; font-weight:bold;}
.syj-bgcolor{background:#7ed320;}
.syj-bgcolor1{background:#eb6100;}
.syj-tabzc{width:85%; margin:20px auto 0; table-layout:fixed;}
.syj-tabzc tr th{width:140px; height:35px; font-weight:400; color:#666; text-align:right;}
.syj-tabzc tr td{padding:4px 5px; color:#666;}
.syj-tabzc tr td span{font-size:12px; color:#bfbfbf;}
.syj-zcinput{width:358px; height:33px; line-height:33px; padding:0 5px; border:1px solid #c9deef; margin-right:10px;}
.syj-btnfsyzm{display:inline-block; width:95px; height:30px; line-height:30px; text-align:center; font-family:"微软雅黑"; color:#fff; vertical-align:middle; background:url(../images/btnyzm.png) no-repeat top;}
.syj-btnfsyzm:hover{background-position:bottom; color:#fff;}
.syj-btnsc{display:inline-block; width:95px; height:30px; line-height:30px; text-align:center; font-family:"微软雅黑"; color:#fff; vertical-align:middle; background:url(../images/btnsc.png) no-repeat top;}
.syj-btnsc:hover{background-position:bottom; color:#fff;}
.syj-txtc{text-align:center;}
.syj-txtc label{display:inline-block; color:#1154a3; cursor:pointer;}

/*找回密码*/
.syj-steps{width:100%; height:40px; background:url(../images/steps.png) no-repeat top left;}
.syj-steps1{width:100%; height:40px; background:url(../images/steps.png) no-repeat 0 -40px;}
.syj-steps2{width:100%; height:40px; background:url(../images/steps.png) no-repeat bottom left;}
#syj-steps ul li{float:left; width:30%; padding-left:3.33%; height:40px; line-height:40px; font-size:14px; font-weight:bold; color:#7fd222;}
.syj-btnhqyzm{display:inline-block; margin-left:20px; height:30px; line-height:30px; padding:0 10px; color:#fff; background:#7fd222;}
.syj-btnhqyzm:hover{color:#fff; background:#adfd54;}
#syj-steps ul .current{color:#fff;}

/*用户中心*/
.syj-left{float:left; width:210px; min-height:524px; background:#fff;}
.syj-right{float:left; width:730px; min-height:521px; padding:0 20px; border-top:3px solid #01479d; margin-left:20px; background:#fff;}
.syj-subnav li{width:210px; height:50px; line-height:50px; text-align:center; font-weight:bold; margin-bottom:1px;}
.syj-subnav li a{display:block; width:210px; height:50px; color:#01479d; background:#e5ecf5;}
.syj-subnav li a:hover,.syj-subnav .syj-subnavon a{color:#fff; background:#01479d;}
.syj-yhtop{height:247px; border-bottom:1px dashed #cbcbcb;}
.syj-yhtl{float:left; width:312px; margin:47px 0 0 28px; color:#666;}
.syj-yhtl div{height:100px; margin-bottom:10px; overflow:hidden;}
.syj-yhtl div img{float:left; width:100px; height:100px; margin-right:15px; overflow:hidden;}
.syj-yhtl p{margin:0px; line-height:25px;}
.syj-yhinfo{float:left; margin-top:30px; height:70px !important;}
.syj-yhtr{float:left; width:364px; margin:47px 0 0 0;}
.syj-color3{color:#65caff;}
.syj-yhbjinfo{margin-bottom:30px;}
.syj-yhbjinfo li{float:left; width:182px; line-height:36px; color:#666;}
.syj-yhbjinfo li b{font-size:20px; font-family:"微软雅黑"; font-weight:400; margin:0 10px;}
.syj-btnexit{float:right; display:inline-block; width:95px; height:29px; line-height:29px; text-align:center; color:#eb6100; font-family:"微软雅黑"; background:url(../images/btnexit.png) no-repeat top;}
.syj-btnexit:hover{background-position:0 -29px; color:#eb6100;}
.syj-btnexit:active{background-position:0 bottom; color:#fff;}
.syj-zhsz1{width:420px; margin:60px auto 0;}
.syj-zhsz1 span{display:inline-block; float:left; width: 84px; height: 48px; line-height: 48px; text-align: right;}
.syj-zhsz1 p{float:left;}
.syj-zhszhg{width: 100%; height: 48px; margin-bottom: 20px;}
.syj-btnbj{float:right; display:inline-block; width:75px; height:30px; line-height:30px; padding-left:20px; text-align:center; margin:8px 0; color:#fff; font-family:"微软雅黑"; background:url(../images/btnbj.png) no-repeat top;}
.syj-btnbj:hover{background-position:0 bottom; color:#fff;}
.syj-jxbj{text-align:center;}
.syj-hya a{color:#01479d; text-decoration:underline;}
.syj-hya a:hover{color:#01479d; text-decoration:underline; font-weight:bold;}

/*  浮动导航  */
.rightNav{position:fixed; width:140px; right:2%; top:30%; _position:absolute; text-align:left; cursor:pointer; background:url(../images/rightNavbg.png) no-repeat 4px 23px; _background:url(../images/rightNavbg.png) no-repeat 4px 24px; font-size:14px; font-weight:bold; z-index:99;}
.rightNav a{display:block; position:relative; height:36px; line-height:36px; padding:0 0 0 20px; background:url(../images/rightNav.png) no-repeat left;}
.rightNav a:hover{color:#ffa103; background:url(../images/rightNavon.png) no-repeat left;}


/*  场景式导航  */
.syj-cjsbg{background:url(../images/cjs-bg.jpg) no-repeat top center;}
.syj-fixed{position:fixed; bottom:0px; width:100%;}
.syj-cjstitle{width:100%; height:98px; margin:40px 0 26px 0; text-align:center;}
.syj-cjscon{width:100%; height:315px; margin-bottom:170px; background:url(../images/cjs-nav.png) no-repeat top center;}
.syj-cjsnav li{float:left; width:162px; margin:25px 44px; font-family:'微软雅黑';}
.syj-cjsnav li h3{text-align:center; font-size:22px; line-height:28px; font-weight:400; margin:12px 0;}
.syj-cjsnav li p{margin:0px; font-size:14px; line-height:18px;}
.syj-cjsnav li img{-webkit-transition:0.6s ease-out; transition:0.6s ease-out}
.syj-cjsnav li a:hover img{-ms-transform:rotateY(360deg); -moz-transform:rotateY(360deg); -webkit-transform:rotateY(360deg); -o-transform:rotateY(360deg); transform:rotateY(360deg);}
.syj-cjsnav li a{display:block; color:#333;}
.syj-cjsnav li a:hover,.syj-gohome a:hover{color:#00479d; text-decoration:none;}
.syj-cjscon1{width:912px; height:452px; margin:0 auto 40px; background:url(../images/cjs-list.png) no-repeat; position:relative;}
.syj-gohome{position:absolute; left:20px; top:20px; line-height:20px;}
.syj-gohome a{color:#333;}
.syj-gohome a img{margin-top:-4px;}
.syj-cjstitle1{text-align:center; width:100%; height:84px; line-height:90px; font-family:'微软雅黑'; font-size:24px; overflow:hidden;}
.syj-cjslist,.syj-cjscon1 .slimScrollDiv{width:823px; margin:0 auto 30px !important;}
.syj-cjslist li{height:35px; font-family:'微软雅黑'; font-size:16px;}
.syj-cjslist li a{display:block; width:823px; height:34px; line-height:34px; border-bottom:1px solid #fff;}
.syj-cjslist li a:hover{background:url(../images/cjs-lista.png) no-repeat;}

.syj-title2{width:100%; height:40px; line-height:40px;}
.syj-title2 span{display:inline-block; border-left:2px solid #00479d; height:20px; line-height:20px; color:red; font-weight:bold; padding-left:10px; font-size:14px;}

/************ 新加功能样式   ************/
.eui-online{position: fixed; right: 0px; bottom: 110px; display: block; width: 80px; z-index: 111; -moz-border-top-left-radius: 5px; border-top-left-radius: 5px; -moz-border-bottom-left-radius: 5px; border-bottom-left-radius: 5px; background: #1658a6; overflow: hidden;}
.eui-online a{display: block; width: 80px; height: 64px; color: #fff; font-family: "微软雅黑"; font-size: 14px; padding-top: 15px; text-align: center; border-bottom: 1px solid #4579b8;}
.eui-online a p{margin: 0px; line-height: 34px;}
.eui-online a:hover{background: #4579b8; transition: background 0.3s;}
.eui-online a:hover img{animation-name:tada; -webkit-animation-name:tada}
.eui-notice{padding: 60px 0; width: 530px; margin: 0 auto; color: #333;}
.eui-notice h3{text-align: center; font-size: 30px; margin: 0 0 30px 0;}
.eui-notice p{margin: 0px; line-height: 24px; font-size: 16px; font-family: "微软雅黑";}
.eui-notice a{display: block; width: 278px; height: 50px; line-height: 50px; margin: 60px auto 0; font-size: 20px; font-family: "微软雅黑"; color: #fff; text-align: center; border-radius: 2px;}
.eui-nteBtn{background: #156bc1;}
.eui-nteBtn:hover{background: #2992fc;}
.eui-nteBtnNo{background: #bbbbbb; cursor: no-drop;}
.eui-advisory{padding: 20px;}
.eui-advisory h2{text-align: center; font-family: "微软雅黑"; font-size: 24px; color: #000; font-weight: 400; margin: 0 0 20px 0;}
.syj-btnscn{display:inline-block; width:137px; height:30px; line-height:30px; text-align:center; font-family:"微软雅黑"; color:#fff; vertical-align:middle; margin-right: 10px; background:url(../images/n-btnsc.png) no-repeat top;}
.syj-btnscn:hover{background-position:bottom; color:#fff;}
.tmargin40{margin-top: 40px;}
/* 弹出框  */
.eui-tcCon{width: 380px; height: 235px; padding: 20px 60px; margin: 0 auto; background: #fff;}
.eui-table{width: 100%; font-size: 14px; font-family: "宋体"; color: #2c3e50;}
.eui-table tr th{width:120px; text-align:right; line-height: 20px; padding:5px; font-weight: 400;}
.eui-table tr td{padding:5px; line-height: 20px;}
.eui-table tr td h3{margin: 0px; color: #1983da;}
.eui-table tr td h4{margin: 0px; color: #fe0000;}
.eui-tcnote{color: #1983da; font-size: 14px; line-height: 20px;}
.eui-tcBtn{text-align: center; height: 32px;}
.eui-tcBtn a{display: inline-block; width: 100px; height: 32px; line-height: 32px; text-align: center; color: #1983da; border:1px solid #1983da; border-radius: 2px;}
.eui-tcBtn a:hover{color: #fff; background: #1983da;}
.eui-tcBtn .eui-tcBtnS{color:#fff; background: #1983da;}
.eui-tcBtn .eui-tcBtnS:hover{background: #156bc1;}
.txt-center{text-align: center;}
.eui-tcCon1{width: 440px; height: 145px; padding: 20px 30px; margin: 0 auto; background: #fff;}
.eui-yxlose{height: 145px; padding-left: 170px; background: url(../images/n-icon2.png) no-repeat left center;}
.eui-yxlose p{font-size: 14px; font-family: "宋体"; line-height: 20px; text-align: center; margin: 0px;}
.eui-yxlose p b{color: #1983da;}
.tbpadding25{padding: 25px 0;}

/*许可信息查询 样式*/
.eui-xkL{float: left; width: 174px; margin-right: 20px;}
.eui-xkL ul li{width: 100%; height: 44px; line-height: 44px;}
.eui-xkL ul li a{display: block; font-size: 12px; color: #333; border-bottom: 1px solid #fafafa; padding-left: 20px;}
.eui-xkL ul li a:hover,.eui-xkL ul li.on a{background: url(../images/sx-li.png) no-repeat 10px; color: #00479d;}

.eui-xkR{float: left; width: 756px;}
.eui-toolbar{height: 32px; margin-bottom: 20px;}
.eui-toolbar ul li{float: left; margin-left: 20px;}
.eui-toolbar ul li:first-child{margin-left: 0px;}
.eui-toolbar ul li label{float: left; display: block; width: 65px; height: 32px; line-height: 32px;}
.eui-toolbar ul li input{float: left; width: 234px; height: 30px; line-height: 30px; border: 1px solid #cad1d7; padding: 0 5px;}
.eui-toolbar ul li a{display: block; width: 92px; height: 32px; line-height: 32px; color: #fff; text-align: center; background: #2365af;}
.eui-toolbar ul li a:hover{background: #0972e8;}

